*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
   
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    
}


/* left-side */


.left-side{
    padding: 30px;
    background-color: #003047;
    grid-column: 1/2;
    

}
.foto{
    text-align: center;
}

img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    

}
.identidade{
    color: white;
    text-align: center;

}
h3,h2{
    margin: 15px auto;
    font-weight: 300;
}
hr{
    margin: 20px auto;
    border-color: gray;
}
.contato{
    margin-top: 20px;
    margin-bottom: 20px;
}
span.icon{
    color: white;
    display: inline-block;
}
span.text{
    color: white;
    margin-left: 10px;
    
   
}

.educacao{
    color: white;
    margin-bottom:30px;
    margin-top: 30px;
}
.formacao{
    margin-top: 30px;
    margin-bottom: 30px;
}



.date{
    font-weight: 300;
  
    color: rgb(45, 129, 159);
}

h4{
    font-weight: 100;
    color: white;
    line-height:1.5rem;
  
}

.area{
    font-weight: 900;
}
.left-side .container{
    position: relative;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.left-side .percent{
    width: 100%;
    height: 5px;
    background-color: rgb(45, 129, 159);
    position: absolute;
      
}


.portugues{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   
}
.left-side .percent1{
    width: 75%;
    height: 5px;
    background-color: rgb(45, 129, 159);
    position: absolute;
     
}
.idioma{
    margin-bottom: 20vh;
}
.hebraico{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   
}


.left-side .percent2{
    width: 35%;
    height: 5px;
    background-color: rgb(45, 129, 159);
    position: absolute;
  
}
.latim{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   

}








/* right-side */

.right-side{
    background-color: black;
    padding: 30px;
    grid-column: 1/2;
    
   
}
p{
    text-align: justify;
    color: white;
}
.cargos{
    text-align: justify;
   
}

.experience{
    display: grid;
    grid-template-columns: 1fr ;
}
.experience2{
    margin-top:15px;
   
}

.company{
    text-transform: uppercase;
}
.cargos-ocupados{
    color: white;
    text-align: justify;
}


.right-side .container{
    position: relative;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    
    
}

.right-side .percent{
    width: 100%;
    height: 10px;
    background-color: rgb(45, 129, 159);
    position: absolute;
      
}


.portugues{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   
}
.right-side .percent1{
    width: 75%;
    height: 10px;
    background-color: rgb(45, 129, 159);
    position: absolute;
     
}
.idioma{
    margin-bottom: 20vh;
}
.hebraico{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   
}


.right-side .percent2{
    width: 30%;
    height: 10px;
    background-color: rgb(45, 129, 159);
    position: absolute;
  
}
.latim{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
   

}


.interesses, .habilidades-profissionais, .experience1, .profile1 {
   font-weight: 800;
    color: white;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 50px;
}
li{
    list-style: none;
    color: white;
   
}
i{
    margin:10px;
}



@media screen and (min-width:768px) and (max-width:992px){
    .wrapper{
       max-width: 600px;
        
        
         
     }

}

@media screen and (min-width:992px) {
    .wrapper{
        
         max-width: 1200px;
        grid-template-columns: 1fr 2fr ;
          
      }
      .left-side{
       
        grid-column: 1/2;
        min-width: 412px;
    
    }

    .right-side{

        min-width: 788px;
            grid-column: 2/3;
        
    
    }
    
}
