*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
   
}
#h4-1{
    text-align: center;
    margin: 30px auto 20px auto;
}
#metrica {
    display: flex;
    justify-content: center; 
    align-items: start; 
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0px 30px;
    width: 90vw; 
   
}




span{
    display: block;
}

.faq{
    display: flex;
  
    cursor: pointer;
     

}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  #expand_less{
    display: block;
  }

  #expand_more{
    display: none;
  }

  #resposta{
    display: none;
  }





h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}

p{
    

    text-align: justify;
    margin: auto;
    line-height: 35px;
    text-indent: 30px;
    max-width: 1000px;
    min-width: 320px;
    padding: 0px 30px;
       
    
}

h2{
    margin: 20px auto;
    text-align: center;
    font-weight: normal;
}
picture{
    display: flex;
    justify-content: center;
}
.gerente{
    
    max-width: 800px;
   margin-bottom: 20px;
    
   
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined{
    display: block;
}
.texto{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.responsivo{
    width: 90vw;
}
.gerente-perfil{
    display: flex;
    padding: 0px 30px;   

}

.hr{
    margin-top:50px ;
   
    border-color: gray;
    width: 400px;
   margin:30px auto 20vh auto;    
}





