*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
   margin: auto 10vw;
}

h4{
    text-align: center;
    margin: 30px auto;
}
.faq{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.feedBack{
    font-size: 1.5rem;
}
   
   
.texto{
    font-size: 1.5rem;
}

#resposta{
    display: none;
}
.metrica{
    margin: 20px auto;
}
.classe-gerentes{
    margin: 50px auto;
}

h2{
    text-align: center;
}
.expand{
    display: flex;
    justify-content: center;
    align-items: center;
}

#expand_more{
    display: none;
}
#expand_more1{
    display: none;
}
#expand_more2{
    display: none;
}
#expand_more3{
    display: none;
}
#expand_more4{
    display: none;
}

.texto{
    margin: 10px;
}
.gerente{
    display: block;
    text-align: center;
    margin: 20px auto;
}

hr{
    border-color: gray;
   
   
}
span{
    display: block;
}
.gerente-perfil{
    display: flex;
    justify-content: center;
    align-items: center;

}