
/*Pequenas telas: até 600px
Celular: de 600px 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(  yellow , black 3.5%);
    font-family: 'Roboto', sans-serif;
    color: white;
    
}


h1{
    text-align: center;
    margin:0px 10px;
    font-size:1.5rem;
    color: white;

}

.material-symbols-outlined {
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 20px;
   
}
#fechar{
    margin-left: 80%;
}
form {
    margin: 20px 0;
    background-color: rgba(128, 128, 128, 0);
    padding: 30px 25px;
    border-radius: 5px;
  }
  

.menu-fechado{
    position: fixed;
    width: 0vw;
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    top: 0px;
    left: 0px;
    transition: 0.3s;

}
.menu-fechado a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    top: 20%;
    line-height: 50px;

}
.menu-fechado a:hover{
    color:gray;


}
header{
    background: black;
    height: 150px;
    width: 100vw;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
#principal{
    background-color: black;
}

input{
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.361);
    /* resize:30 ; */
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.361);
    color: white;
    width: 344px;
    
}
input:hover{
    border-color: rgba(255, 255, 0, 0.234);

}
input[placeholder]{
    font-size: 1rem;
}
section{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    margin-top: 100px;
      
}
div.card{
    width: 320px;
    height: 498px;   
   
}
div.card:hover{
    background-color: rgba(128, 128, 128, 0.259);

}
div.card{
    justify-self: center;
    width: 354px;
    height: 508px;
    background-color: rgba(128, 128, 128, 0.208);
    border-radius: 15px;
    margin-bottom: 15px;
    display: block;
    text-align: center;   
   
}
 img.card{
    border-radius: 50%;
    border:4px solid yellow  ;
    width: 150px;
    height: 150px;
    margin-top: 150px;
   
}
 div.hover:hover {
    transform: scale(1.1)
}
h2{
    margin: 50px auto 5px auto;
    color: white;
}
hr{
    margin: 4rem auto;
    border-color: gray;
    width: 90vw;
    
   
}
footer{

    height: 70vh;
    background-color: #202024;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #E1E1E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #202024;
}
p{
    margin: .5rem;
    font-size: 1.4rem;
    color: white;
}
div#centralizar{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
#h2{
    height: 55px;
   

}
h2#slider{
    display: block;
    text-align: center;
    margin-bottom: 0px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, yellow , red );
   background-clip: text;
   
   
  
    
}

#slider {
    width: 80%;
    max-width: 500px;
    height: 40vw;
    max-height: 150px;
    

    position: relative;
}

#slider img.slider{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;
        

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}
iframe{
    width: 90vw;
    margin-bottom: 15px;
}
p#margin-botom{
    margin-top: 10px;
    margin-bottom: 100px;
}


@media screen and (min-width:768px) and (max-width:992px){
    body{
        background: linear-gradient(  yellow , black 1%);
       
    }
 
    h1{
        margin-top: 0px;
    }
    
    span {
       padding-top: 20px;
       padding-left: 20px;

    }
    .material-symbols-outlined {
        font-size: 30px;
        color: white;
        cursor: pointer;
 
    }
    .menu-fechado{
        width: 0vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        overflow-x: hidden;
        background-color: black;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
       
     

    }
    .menu-fechado a{
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin-bottom: 30px;

    }
    input{
        width: 600px;
    }
    
    section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr  1fr;
        
       
    }
    iframe{
        width: 500px;
        margin: 5px auto 10px auto;
    }
    
    
}

@media screen and (min-width:992px) {
    body{
        background: linear-gradient(  yellow , black 10%);
    }

   

    form {
        
        background-color: rgba(128, 128, 128, 0);
        
        border-radius: 5px;
      }
    .menu-fechado{
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        transition: none;
        
        
        gap: 40px; 

    }
    #fechar{
    display: none;

    }

    #menu-fechado a{
       
    text-decoration: none;
    position: relative;
    left: 70vw;
    margin-right: -20px;
    padding: 10px;
    line-height: 20px;

    }
    .menu-fechado a:hover{
        background-color:rgba(128, 128, 128, 0.533);
        color: white;
        border-radius: 10px;
    }
    .menu-fechado a:nth-child(5):hover{
        background-color:rgba(128, 128, 128, 0.533);
        color: white;
        border-radius: 10px;
        border: 1px solid yellow;
    }
    header{
        background: black;
        height: 200px;
        width: 100vw;
        position: fixed;
        top: 100px;
        left: 0px;
        
    }
    section.cards{
    padding-top: 250px;
    }

    .input-filtro{
        position: relative;

    }
    .input-filtro span{
        position: absolute;
        right: 600px;
        bottom: 10px;

    }
    input{
        position: relative;
        display: flex;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.361);
        font-size: 20px;
        color: white;
        width: 700px;
        border: 1px solid rgba(128, 128, 128, 0.193);
        
    
    }


    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        
    
    }
    footer{
        height: 600px;
    }
    iframe{
        width: 500px;
        margin: 5px auto 10px auto;
    }

    p#margin-botom{
        margin-bottom: 30px;
    }


    
}

